<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back" routerLink="/comunidad-autonoma"></ion-icon>
    <ion-title>update-comunidad-autonoma</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">
        Nombre
      </label>
      <input type="text" formControlName="nombre">
    </div>

    <div>
      <label for="poblacion">
        Poblacion
      </label>
      <input type="text" formControlName="poblacion">
    </div>

    <div>
      <label for="superficie">
        Superfcie
      </label>
      <input type="text" formControlName="superficie">
    </div>

    <div>
      <label for="fkPostal">
        fkPostal
      </label>
      <input type="text" formControlName="fkPostal">
    </div>

    <button id="add-button" class="button" type="submit">Añadir</button>
  </form>

</ion-content>