<ion-header>
  <ion-toolbar>
    <ion-title>update-provincia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="codPostal">
        Código postal
      </label>
      <input type="text" formControlName="codPostal">
    </div>
    <div>
      <label for="nombre">
        Nombre
      </label>
      <input type="text" formControlName="nombre">
    </div>

    <div>
      <label for="poblacion">
        Poblacion
      </label>
      <input type="text" formControlName="poblacion">
    </div>

    <div>
      <label for="superficie">
        Superfcie
      </label>
      <input type="text" formControlName="superficie">
    </div>


    <button id="add-button" class="button" type="submit">Añadir</button>
  </form>

</ion-content>
